.serviceCard{
    box-shadow: 0 6px 16px 0 rgb(0 0 0 / 20%);
    background-color: white;
    // background: linear-gradient(to top right, #33ccff 0%, #ff99cc 100%);

    height: 300px;

    text-align: center;

    border-radius: 5px;


    transition: 0.4s all ease;

    // &:hover{
    //     transform: scale(1.1);


    .link{
        text-decoration: none;
        color: black;
    }
    // }
    .serviceCardWrapper{

        position: relative;


        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 2rem;
        padding: 30px;
        .service_image{
            img{
                height: 140px;
                width: 140px;
                object-fit: cover;
            }
        }
        .service_title{
            font-size: 22px;
            height: 50px;

        }


        .know_more{
            background-color: rgb(24, 185, 48);
            // color: white;
            padding: 10px;
            // border-radius: 5px;
        }

        .coming_soon{
            position: absolute;
            right: 0;
            top: 0;
            background-color: rgb(255, 230, 0);
            color: black;

            padding: 5px;
            border-radius: 5px;
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 1px;
        }

        @media screen and (max-width:400px){
            // flex-direction: column;
            // gap: 0;
            // padding: 20px;
            
        }

    }
}