.Home {
    .homeContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        .homeContainerWrapper{
            width: 80%;
        }

        .heading {
            text-align: center;
            margin-top: 1rem;
            margin-bottom: 2rem;
            .title {
                font-size: 80px;
                font-weight: 400;
                letter-spacing: 2.5px;
                text-align: center;
                padding-top: 1rem;
                margin-bottom: 1rem;
                color: #fd9526;
            }
            .tagline {
                font-size: 27px;
                letter-spacing: 2px;
                color: rgb(109, 98, 79);  
            }
        }

        .about{
            font-size: 20px;
            letter-spacing: 1.3px;
            line-height: 40px;
            margin-top: 5rem;
            margin-bottom: 4rem;
            color: rgb(47, 47, 47);

            .aboutUs{
                color: #E2703A;
                font-size: 40px;
                letter-spacing: 2px;
                font-weight: 600;
            }


            span{
                color: #ff6741;
                font-family: 'Finlandica', sans-serif;

            }

            .aboutContent1, .aboutContent2{
                margin-top: 2rem;
                margin-bottom: 5rem;
            }

            .motto{
                color: #E2703A;
                font-size: 40px;
                letter-spacing: 2px;
                font-weight: 600;
            }

        }


        // @media screen and (max-width){
            
        // }


        @media screen and (max-width : 350px){

            .homeContainerWrapper{
                width: 96%;
            }

            .heading{
                .title{
                    font-size: 50px;
                }
                .tagline{
                    font-size: 24px;
                }
            }

            .about{
                font-size: 17px;
                letter-spacing: 1px;
                line-height: 30px;
                margin-top: 4rem;

                .aboutContent1, .aboutContent2{
                    margin: 5px;
                    margin-top: 2rem;
                }
            }
        }
}
}