.Home {
    .homeContainer {
        display: flex;
        align-items: center;
        justify-content: center;

        text-align: center;
        .homeContainerWrapper{
            width: 80%;
        }

        .heading {
            text-align: center;
            margin-top: 1rem;
            margin-bottom: 2rem;
            // .title {
            //     font-size: 80px;
            //     font-weight: 400;
            //     letter-spacing: 2.5px;
            //     text-align: center;
            //     padding-top: 1rem;
            //     margin-bottom: 1rem;
            //     text-transform: uppercase;
                
            //     background-color: #ff8d4c;
            //     background-image: linear-gradient(62deg, #ff8d4c 0%, #ffc943 100%);                
            //     -webkit-background-clip: text;
            //     -webkit-text-fill-color: transparent;
            // }
            .title_img{
                img{
                    width: 50%;
                }
                margin-bottom: 2rem;
            }
            .tagline {
                font-size: 27px;
                letter-spacing: 2px;
                color: rgb(109, 98, 79);  
            }
        }

        .about{
            font-size: 20px;
            letter-spacing: 1.3px;
            line-height: 40px;
            margin-top: 5rem;
            margin-bottom: 4rem;
            color: rgb(47, 47, 47);

            // width: 80%;


            // display: flex;
            // align-items: center;
            // justify-content: space-around;

            .aboutUs{
                font-weight: 400;
                // text-align: left;

                background-color: #ff8d4c;
                background-image: linear-gradient(62deg, #ff8d4c 0%, #ffc943 100%);                
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;                
                font-size: 40px;
                letter-spacing: 2px;
                // font-weight: 600;
            }


            span{
                color: #ff6741;


                font-family: 'Finlandica', sans-serif;

            }
            .aboutContent1{
                // text-align: left;
            }
            .aboutContent2{
                // text-align: right;
            }

            .aboutContent1, .aboutContent2{
                margin-top: 2rem;
                margin-bottom: 5rem;
            }

            .motto{
                font-weight: 400;
                // text-align: right;

                background-color: #ff8d4c;
                background-image: linear-gradient(62deg, #ff8d4c 0%, #ffc943 100%);                
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;                
                font-size: 40px;
                letter-spacing: 2px;
            }

        }

        @media screen and (max-width : 750px){
            .heading{
                .title_img{
                    img{
                    width: 80%;
                    }
                }
            }
            
        }


        @media screen and (max-width : 400px){

            .homeContainerWrapper{
                width: 96%;
            }

            .heading{
                .title_img{
                    img{
                    width: 95%;
                    }
                }
                .tagline{
                    font-size: 24px;
                }
            }

            .about{
                font-size: 17px;
                letter-spacing: 1px;
                line-height: 30px;
                margin-top: 4rem;

                .aboutContent1, .aboutContent2{
                    margin: 5px;
                    margin-top: 2rem;
                }
            }
        }
}
}