.supporters{
    .supporters_cards{
        margin: 0 2rem;
        margin-top: 4rem;
        margin-bottom: 4rem;

        display: flex;
        align-items: center;
        justify-content: center;
        .supporters_cards_wrapper{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 40px 50px; 
            

            @media screen and (max-width : 1200px){
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 40px 30px;   
            }
            @media screen and (max-width : 1111px){
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 40px 60px;   
            }
            @media screen and (max-width : 900px){
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 40px 40px;  
            }
            @media screen and (max-width : 850px){
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 40px 20px;  
            }
            @media screen and (max-width : 800px){
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 40px 70px;  
            }
            @media screen and (max-width : 600px){
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 40px 50px;  
            }
            @media screen and (max-width : 550px){
                display: grid;
                grid-template-columns: repeat(1, 100%);
                // gap: 40px 25px;  
            }
        }
    }
}